body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 140vw;
  max-width: 50rem;
  max-height: 70rem;
}
